/* ESTILOS GENERALES */
* {
  background-color: #550c18;
  color: white;
  font-family: 'Cormorant Garamond', serif; }

.fondo-inputs {
  background-color: gray !important; }

/* INCLUDES */
body div.nav {
  background-color: transparent;
  padding: 1rem;
  margin: 1rem;
  position: absolute;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  top: 1px;
  left: 1px; }
  body div.nav a {
    background-color: transparent;
    display: block;
    margin: 1px;
    padding: 3px; }
    body div.nav a img {
      width: 40px;
      height: 40px;
      background-color: transparent; }

main div.img {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch; }

main div.titles {
  padding: 10rem;
  margin: 6rem;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px; }

main div.inputs {
  display: flex;
  justify-content: center; }
  main div.inputs input {
    margin: 30px;
    padding: 10px; }

main #tipos .book-title {
  padding: 10rem;
  margin: 6rem;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px; }

main #tipos .book-sub {
  padding: 10rem;
  margin: 6rem;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px; }

main div.items {
  padding: 10px;
  margin: 30px; }
  main div.items ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch; }
    main div.items ul li {
      text-decoration: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: space-between;
      align-items: stretch; }
      main div.items ul li div.card {
        margin: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap; }

@media (max-width: 500px) {
  #navbar {
    margin: 0px;
    left: 1px;
    top: 1px; }
    #navbar img {
      width: 30px;
      height: 30px; }
  #titles {
    padding: 10rem;
    margin: 1rem;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px; } }
